
<ion-view title="Logo & Information" id="page9">
  <ion-content padding="true" style="background: url(img/wallpaper3.jpg) no-repeat center;background-size:cover;"  class="has-header">
    <form id="page-form13" class="list">
      <label class="item item-input" name="umkc.edu">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Company Domain Name" ng-model="qinp">
      </label>
      <button id="page-button11" style="font-weight:600;color:White;font-size:13px;border-radius:85px 85px 85px 85px;" class="button button-positive button-small button-block icon ion-search" ng-click="squery()">Logo & info</button>
    </form>
    <div class="list card" id="page-card21">
      <div class=" item item-image">
        <img src="img/logo.png" width="" height="100" style="display: block; margin-left: auto;">
      </div>
    </div>
    <div class="item item-body" id="page-list-item-container3">
      <div class="item item-body" id="page-list-item-container2" style="background:LightBlue">
        <div id="page-markdown2"  style="margin-top:0px;color:#000000;font-size:34px;">
          <p style="font-weight:600;color:Black;">Logo Sentiment: <strong> Neutral: 0.6072309700132 </strong>
</p>
</div>
</div>
<div id="page-markdown3" style="margin-top:0px;color:#1ECB61;">
<p>
<strong>NAME:</strong>Reebok
<strong>CATEGORY:</strong>RETAIL
<br>
<strong>WEBSITE:</strong>www.reebok.com
<br>
<strong>FOUNDED</strong>: 1958
<br>
</p>
</div>
</div>
</ion-content>
</ion-view>