<ion-view title="Signup" id="page6">
  <ion-content padding="true" style="background: url(img/wallpaper3.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="signup-form10" class="list">
      <h2 id="signup-heading2" style="color:#CE4A4A;text-align:center;">Welcome</h2>
      <ion-list id="signup-list6">
        <label class="item item-input" id="signup-input15">
          <input type="text" placeholder="Name">
        </label>
      </ion-list>
      <div class="spacer" style="height: 15px;"></div>
      <label class="item item-input" id="signup-input18">
        <input type="text" placeholder="User Name">
      </label>
      <div class="spacer" style="height: 15px;"></div>
      <label class="item item-input" id="signup-input19">
        <input type="text" placeholder="Email">
      </label>
      <div class="spacer" style="height: 15px;"></div>
      <label class="item item-input" id="signup-input20">
        <input type="text" placeholder="Password">
      </label>
      <div class="spacer" style="height: 15px;"></div>
      <label class="item item-input" id="signup-input21">
        <input type="text" placeholder="Confirm Password">
      </label>
       <a ui-sref="home" id="signup-button5" style="font-weight:600;" class="button button-positive  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>